{{> header}}
<div class="container bg-secondary text-center">
    <h2 class="fs-1 text-center">A ver que onda</h2>
    <div class="d-flex justify-content-around mt-5 mb-3 flex-wrap" >
        <div class="d-flex">
            <h3 class="d-flex">A</h3>
            <!-- que sea todo exportable a pdf-->
        </div>
        <div class="d-flex">
            <h3>Tasa de ocupacion por tipo viaje</h3>
            <!-- contar cantidades de pasajeros por tipo viaje (c1,c2,tour,orbital)-->
        </div>
        <div class="d-flex">
            <h3>Tasa de ocupacion por equipo</h3>
            <!-- contar cantidades de pasajeros por tipo equipo (BA,AA,SUB)-->
        </div>
        <div class="d-flex">
            <h3>Cabina mas vendida</h3>
            <!-- contar cantidades de pasajeros tipo cabina (primera, ejecutivo, turista)-->
        </div>
        <div class="d-flex">
            <h3>Facturacion mensual</h3>
            <!-- sumar precios de reservas en un determinado intervalo de tiempo-->
            <!--  style="width: calc(40% - 10px)" -->
        </div>
    </div>
</div>
{{> footer}}