
  <!-- Footer -->
    <footer class="bg-primary mt-5">

      <div class="container d-flex justify-content-around mt-5 mb-4">
        <h3 class="text-white mt-2">Auspiciador por</h3>
      </div>

      <div class="container-fluid d-flex justify-content-around flex-wrap">
        <img src="GauchoRocketSA/public/amazon.svg" alt="" width="107" height="72" class="m-4">       <!-- preguntar porque tenemos que poner GauchoRocketSA/ -->
        <img src="GauchoRocketSA/public/bmw.svg" alt="" width="107" height="72" class="m-4">
        <img src="GauchoRocketSA/public/lamborghini.svg" alt="" width="107" height="72" class="m-4">
        <img src="GauchoRocketSA/public/android.svg" alt="" width="107" height="72" class="m-4">
        <img src="GauchoRocketSA/public/tesla.svg" alt="" width="107" height="72" class="m-4">
        <img src="GauchoRocketSA/public/spacex.svg" alt="" width="107" height="72" class="m-4">
        <img src="GauchoRocketSA/public/nasa.svg" alt="" width="107" height="72" class="m-4">
        <img src="GauchoRocketSA/public/apple.png" alt="" width="72" height="72" class="m-4">
        <img src="GauchoRocketSA/public/mercedes.svg" alt="" width="107" height="72" class="m-4">

      </div>

      <div class="container-fluid d-flex justify-content-around mt-5">
        <a href="GauchoRocketSA/index.php" class="text-decoration-none h4"><p class="text-white">Gaucho Rocket SA</p></a>      <!-- // mando al index -->
        <p class="text-white ms-5">Derechos reservados Grupo 4®. Copyright ©</p>
        <div class="d-flex flex-wrap justify-content-around ">

          <a href="GauchoRocketSA/index.php"><img src="GauchoRocketSA/public/facebookBlanco.png" alt="" width="40" class="me-2"></a>       <!-- // aca mando fotos al index -->
          <a href="GauchoRocketSA/index.php"><img src="GauchoRocketSA/public/instagramBlanco.png" alt="" width="40" class="me-2"></a>
          <a href="GauchoRocketSA/index.php"><img src="GauchoRocketSA/public/TwitterBlanco.png" alt="" width="40" class="me-2"></a>

        </div>
      </div4

    </footer>
<!-- /footer -->

  <!-- Script de Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>

</body>
</html>