{{> header}}
<h3 class="text-center">{{duplicado}}</h3>
<div class="container mt-5 mb-5">
    <div>
        <!--        Parte tipo de vuelo-->
    </div>
    <div>
        <!--        container origen, destino, fechas, cant pasajeros, buscar-->
        <div>
            <!--            origen destino-->
        </div>
        <div>
            <!--            fechas-->
        </div>
        <div>
            <!--           pasajeros-->
        </div>
        <div>
            <!--          btn buscar-->
        </div>
    </div>
</div>
{{> footer}}