{{> header}}
{{#duplicado}}
<h3 class="text-center text-danger bg-warning m-0 p-2">{{duplicado}}</h3>
{{/duplicado}}

<div class="bg-secondary text-center" style="background-image: url('/public/estrellitas.jpg')">
    <h2 class="pt-5 text-white">¡Hace un viaje Orbital o un Tour!</h2>
    <div class="container mt-5 pb-5 pt-3 mb-5">
        <div class="d-flex justify-content-around mb-5">
            <a href="orbital">
                <button class="btn btn-primary" type="button">
                    Orbitales
                </button>
            </a>
            <a href="tour">
                <button class="btn btn-primary" type="button">
                    Tour
                </button>
            </a>
        </div>
    </div>
</div>
<h2 class="text-center">Para una experiencia mas personalizada</h2>
<form action="home/busqueda"
      method="post">
    <div class="container mt-5 mb-5 bg-success p-3 rounded">
        <h2 class="fs-1 text-center">¡Elegí tu experiencia!</h2>
        <div class="d-flex justify-content-around mt-5 mb-3 flex-wrap">
            <div class="d-flex">
                <img src="public/origen.svg" width="18px">
                <select class="form-select ms-1 me-2" aria-label="Default select example" name="origen">
                    <option value="default" disabled selected>Origen...</option>
                    <option value="BA">BA</option>
                    <option value="AK">AK</option>
                    <option value="EEI">EEI</option>
                    <option value="HotelOrbital">Hotel Orbital</option>
                    <option value="Luna">Luna</option>
                    <option value="Marte">Marte</option>
                    <option value="Ganimedes">Ganimedes</option>
                    <option value="Europa">Europa</option>
                    <option value="Io">Io</option>
                    <option value="Encedalo">Encedalo</option>
                    <option value="Titan">Titan</option>
                </select>
            </div>
            <div class="d-flex">
                <img src="public/salida.svg" width="20px">
                <input type="date" name="fecha" id="fecha" class="form-control ms-1 me-2" required>
            </div>

            <div class="d-flex">
                <button type="submit" class="btn btn-danger d-flex align-items-center"><img src="public/buscar.svg"
                                                                                            width="15px" class="me-2">Buscar
                </button>
            </div>
        </div>
    </div>
</form>
<div class="container">
    <table class="table table-hover bg-opacity-7 rounded">
        <thead>
        <tr>
            <th scope="col">Dia</th>
            <th scope="col">Hora Partifa</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Nave</th>
            <th scope="col">Tipo Viaje</th>
        </tr>
        </thead>
        <tbody>
        {{#planificacion}}
        <tr>
            <td>{{dia}}</td>
            <td>{{hora}}Hs</td>
            <td>{{origen}}</td>
            <td>{{destino}}</td>
            <td>{{modelo}}</td>
            <td>{{tipoVuelo}}</td>
            {{^loggeado}}
            <td class="text-danger fw-bold">Inicie sesion</td>
            {{/loggeado}}
            {{#loggeado}}
            <td>
                <a href="reserva?id={{id}}&fechavuelo={{fecha}}">
                    <button class="btn btn-warning" type="submit">
                        Confirmar
                    </button>
                </a>
            </td>
            {{/loggeado}}
        </tr>
        {{/planificacion}}
        </tbody>
    </table>
</div>
<!--<input type="hidden" name="destino" value="{{destino}}" class="border-0" readonly disabled>-->
<!--<a class="text-white" href="reserva?id={{id}}&fechaviaje={{fecha}}&destino={{destino}}">Reservar</a>-->
<!--<input type="text" name="inputname" value="{{origen}}" class="border-0 bg-success" readonly>-->
{{> footer}}
