{{> header}}
<div class="container">
    <table class="table table-hover bg-opacity-7 rounded mt-5 mb-5">
        <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Origen</th>
            <th scope="col">Destino</th>
            <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody>
        {{#reservas}}
        <tr>
            <td>{{fecha}}</td>
            <td>{{hora}}Hs</td>
            <td>{{origen}}</td>
            <td>{{destino}}</td>
            <td>{{estado}}</td>
            <td><a href="reserva/verReserva?id={{id}}">
                <button class="btn btn-success" type="submit">
                    Confirmar
                </button>
            </a></td>
        </tr>
        {{/reservas}}
        </tbody>
    </table>
</div>
{{> footer}}