<!-- Navbar -->
<nav class="navbar navbar-dark bg-dark">
        <a href='/GauchoRocketSA' class='w3-padding-large'>Gaucho Rocket</a>
        <a href='/GauchoRocketSA' class='w3-padding-large'>Iniciar Sesion</a>
</nav>
    
