{{> header}}
{{^loggeado}}
<h1 class="text-center text-danger mt-5 mb-5">Por favor inicie sesion</h1>
{{/loggeado}}
{{#loggeado}}
{{#planificacion}}
<form action="reserva/reservar" method="post" id="form">
    <div class="bg-secondary bg-opacity-75 text-center pt-4 pb-4    ">

        <div class="rounded container bg-primary bg-opacity-25 pt-5">
            <h2>Confirma los datos</h2>
            <div class="row">
                <div class="text-center d-flex justify-content-center col-12">
                    <div class="text-start mb-5 mt-5">
                        {{#datosModelo}}
                        <h4 class="text-center mb-3">Datos del vuelo:</h4>
                        <h5>Nombre de la nave: <span class="text-white">{{nombreNave}}</span></h5>
                        <h5>Tipo de equipo: <span class="text-white">{{tipoEquipo}}</span></h5>
                        <h5>Tipo de cliente: <span class="text-white">{{tipoCliente}}</span></h5>
                        <h5>Disponibilidad clase turista: <span class="text-white">{{turista}}</span></h5>
                        <h5>Disponibilidad clase ejecutivo: <span class="text-white">{{ejecutivo}}</span></h5>
                        <h5>Disponibilidad clase primera: <span class="text-white">{{primera}}</span></h5>
                        {{/datosModelo}}
                    </div>
                </div>
            </div>
            <div class="p-3 row pt-5">
                <div class=" ps-5 p-2 text-start col-6">
                    <h4 class="text-center mb-5">Datos del vuelo</h4>
                    <h5>Origen: <span class="text-white">{{origen}}</span></h5>
                    <div class="d-flex mb-2 mt-2">
                        <h5>Destino: <span class="text-white"></span></h5>
                        <select class="form-select ms-5 me-2 w-25" aria-label="Default select example" name="destino" id="destino">
                            <option value="default" disabled selected>Destino...</option>
                            <option value="EEI">EEI</option>
                            <option value="HotelOrbital">Hotel Orbital</option>
                            <option value="Luna">Luna</option>
                            <option value="Marte">Marte</option>
                            <option value="Ganimedes">Ganimedes</option>
                            <option value="Europa">Europa</option>
                            <option value="Io">Io</option>
                            <option value="Encedalo">Encedalo</option>
                            <option value="Titan">Titan</option>
                        </select>
                    </div>
                    {{#datosLlegada}}
                    <h5>Dia de salida: <span class="text-white">{{dia}}</span></h5>
                    <h5>Dia de llegada: <span class="text-white">{{diaLlegada}}</span></h5>
                    <h5>Hora de salida: <span class="text-white" id="horaSalida">{{hora}}</span>hs</h5>
                    <h5>Hora de llegada: <span class="text-white" id="horaLlegada">-.-</span>hs</h5>

                   {{/datosLlegada}}
                </div>
                <div class="text-start col-6">
                    <h4 class="text-center mb-5">Datos de reserva</h4>
                    <h5>Nombre titular: <span class="text-white">{{nombre}}</span></h5>
                    <h5>Apellido titular: <span class="text-white">{{apellido}}</span></h5>
                    <h5 class="d-inline">Butacas: <span class="text-white"></span></h5>
                    <select class="form-select ms-5 me-2 w-25 d-inline" aria-label="Default select example"
                            name="butaca">
                        <option value="default" disabled selected>Tipo...</option>
                        <option value="turista">Turista</option>
                        <option value="ejecutivo">Ejecutivo</option>
                        <option value="primera">Primera</option>
                    </select>
                    <input type="number" class="form-control w-25 d-inline" name="cantidadAsientos">
                    <div class="form-group mb-4">
                        <p>¡Selecciona un método de pago!</p>
                        <label><input type="radio" name="metodoPago" value="MP" class="me-1" required>Mercado
                            Pago</label>
                        <label class="ms-2 me-2"><input type="radio" name="metodoPago" value="EF" class="me-1" required>Efectivo</label>
                    </div>

                    <input type="hidden" name="dia" value="{{dia}}" class="d-none">
                    <input type="hidden" name="nombre" value="{{nombre}}" class="d-none">
                    <input type="hidden" name="apellido" value="{{apellido}}" class="d-none">
                    <input type="hidden" name="idPlanificacion" value="{{idPlanificacion}}" class="d-none">
                    <div class="invisible d-none" id="aca" ></div>
                    <!--     agregar inputs de datos calculados               -->

                    <button class="btn btn-success" type="submit">
                        Confirmar
                    </button>

                </div>
            </div>
        </div>
    </div>
</form>
<script src="public/js/horaLlegada.js"></script>
{{/planificacion}}
{{/loggeado}}
{{> footer}}