{{> header}}

<div class="d-flex justify-content-center flex-wrap m-3">
    <a href="/">
        <button type="button" class="btn btn-warning">Volver</button>
    </a>
</div>


<div class="container mt-5 mb-5 bg-dark bg-opacity-75 rounded p-3">
    <form action="tour/busqueda"
          method="post">
        <div class="container mb-5 p-3 rounded">
            <div class="d-flex justify-content-around mb-3 flex-wrap">
                <div class="d-flex">
                    <select class="form-select ms-1 me-2" aria-label="Default select example" name="dia">
                        <option value="default" disabled selected>Dia...</option>
                        <option value="Domingo">Domingo</option>
                    </select>
                </div>
                <div class="d-flex">
                    <select class="form-select ms-1 me-2" aria-label="Default select example" name="origen">
                        <option value="default" disabled selected>Origen...</option>
                        <option value="BA">BA</option>
                    </select>
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn btn-danger d-flex align-items-center"><img
                            src="public/buscar.svg"
                            width="15px" class="me-2">Buscar
                    </button>
                </div>
            </div>
        </div>
    </form>

    <!--Si no hay vuelos que matcheen con la BD-->
    {{#sinDatosTours}}
    <div class="d-flex justify-content-center flex-wrap bg-warning">
        <img src="/public/surprised.svg" class="m-2 bg-white rounded-circle" width="50px">
        <h3 class="m-3">{{sinDatosTours}}</h3>
    </div>
    {{/sinDatosTours}}


    <!--si le dan click a buscar sin datos salta esto-->
    {{#errorSinSeleccion}}
    <div class="d-flex justify-content-center flex-wrap bg-warning">
        <img src="/public/error.svg" class="m-2 bg-white rounded-circle" width="50px">
        <h3 class="m-3">{{errorSinSeleccion}}</h3>
    </div>
    {{/errorSinSeleccion}}

    <!--form para el boton que buscar todos los vuelos-->
    <form action="tour/busquedaTodosLosTours">
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-info d-flex align-items-center m-3">
                <p class="m-3 h5">Mostrar todos los vuelos</p>
                <img src="/public/tierraNave.svg" width="48px">
            </button>
        </div>
    </form>
    
    <table class="table table-hover bg-primary bg-opacity-75 rounded">
        <thead>
        <tr>
            <th scope="col">Dia</th>
            <th scope="col">Duracion</th>
            <th scope="col">Origen</th>
            <th scope="col">Nave</th>
        </tr>
        </thead>
        <tbody>
        {{#tours}}
        <tr>
            <td class="text-white">{{dia}}</td>
            <td class="text-white">{{hora}}Hs</td>
            <td class="text-white">{{origen}}</td>
            <td class="text-white">{{modelo}}</td>
            <td><a class="text-dark bg-warning p-1" href="tour/confirmarVueloTour?id={{id}}">Reservar</a></td>
        </tr>
        {{/tours}}
        </tbody>
    </table>
</div>

{{> footer}}